.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .button-container {
    display: flex;
    justify-content: center;

    button {
      font-weight: bold;
      font-size: larger;
      padding: .8em;
      border-radius: 1em;
      width: 30%;
    }
  }

  .post-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    ul {
      list-style: none;
    }
    button{
      padding: .8em;
      border-radius: 1em;
    }
  }

  .posts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}