
.games-cards {
  display: flex;
  background: #202020;
  align-items: center;
  justify-content: space-between;
  width: 80em;
  max-width: 80vw;

  .image-game img {
  }

  .info-games {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;

    .plataform {
      width: 2rem;
      height: 2rem;
    }
  }

  .price {
    color: #FF7A00;
    padding: 1em;
  }
}